.DS_Store
node_modules
.env
apps/api/.env
apps/web/.env
apps/web/react/.env
apps/web/vue/.env
apps/web/angular/.env
apps/web/astro/.env
apps/mobile/.env
dist
coverage
*.tsbuildinfo
.angular
.astro
*.db
*.db-journal
.expo
.turbo
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal
documentation/build
documentation/.docusaurus
apps/api/prisma/generated